-r requirements.txt

pre-commit
commitizen
furo
sphinx
sphinx-autodoc-typehints
ruff
mypy
mypy-extensions
pyupgrade>=3.15.0
covdefaults>=2.3
coverage-badge
coverage[toml]
pytest-mypy
pytest-xdist
pytest
types-mock
